

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentski zbor | Naslovnica</title>
    
     <link rel="stylesheet" href="/static/css/home.css">
 
</head>

<body>
    <header>
        <img class="logo" src="/static/images/round_mev.png" alt="MEV">
       
        <nav class="navigation">
          
            <a href="pocetna">Naslovnica</a>
            <a href="novosti">Novosti</a>         
            <a href="clanovi">Članovi</a>
            <a href="dokumenti">Dokumenti</a>
            <a href="kontakt">Kontakt</a>
            <a href="prijava"><button class="btnLogin-popup">Odjava</button></a>
        </nav>
    </header>
    <div class="transbox1">
        <div>
        <h1>O nama</h1>
        <br><br>
       	 	<p>
            Studentski zbor je organizacija koja okuplja studente iz različitih područja i fakulteta te promiče njihove 
            interese, ideje i ciljeve. Cilj udruge je stvoriti zajednicu studenata koja će doprinositi razvoju akademske i 
            društvene scene te poticati aktivno sudjelovanje studenata u organizaciji različitih aktivnosti i događanja.<br><br>

            Kroz aktivnosti i projekte koje provodi, studentski zbor pruža mogućnosti za stjecanje novih znanja, vještina
            i iskustava te potiče druženje i povezivanje studenata iz različitih fakulteta i područja. Udruga organizira 
            brojne radionice, seminare, tribine, natjecanja i druge događaje, a sve u svrhu razvijanja potencijala studenata
			i stvaranja bolje i aktivnije zajednice.<br><br>

            Kao član studentskog zbora, studenti imaju priliku sudjelovati u organizaciji događanja, razviti vlastite ideje 
            i projekte te stjecati dragocjena iskustva koja će im biti od koristi i nakon studija. Također, članstvo u 
            studentskoj udruzi pruža priliku za stvaranje novih poznanstava i prijateljstava te potiče razmjenu ideja 
            i razmišljanja.<br><br>
            
 			U konačnici, studentski zbor je važna karika u životu svakog studenta te predstavlja odličnu priliku za
            osobni i profesionalni razvoj, ali i za doprinos društvu u cjelini.<br><br>
			</p>
       
        </div>
    </div>
</body>

</html>