<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prijava korisnika</title>
    <link rel="stylesheet" href="/static/css/login.css"> 
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="container-label">Prijavi se<span></span></div>

            <div class="container-icon">
                <div class="circle">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>

            <div class="container-form">
                <form action="/prijava" method="post">
                    <label for="email">E-mail</label>
                    <input
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Unesite vaš email" 
                        autofocus
                    required/>

                    <div class="container-input">
                        <label for="password">Lozinka</label>
                        <input
                            type="password"
                            id="pswd"
                            name="password"
                            placeholder="Unesite vašu lozinku"
                        required/>
                    </div>

                 
                 <button type="submit">Prijava</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
